.add-child-component {
    margin: 10px 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
}

.child-component {
    display: flex;
    margin: 10px auto;
    justify-self: center;
    justify-content: center;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
